* {
  padding: 0;
  margin: 0;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.container {
  background: rgb(238, 243, 248);
}
.child {
  display: flex;
  height: 73vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainImg {
  height: 50%;
}
